/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.new_property_form {
	box-sizing: border-box;
	width: 500px;
}

.new_property_form div {
	box-sizing: border-box;
	padding: 5px 0;
}

.new_property_form label {
	box-sizing: border-box;
	display: block;
	padding: 5px 0;
}

.new_property_form input[type='text'], .new_property_form select, .new_property_form textarea {
	box-sizing: border-box;
	width: 100%;
}

